@use './mixins';
@use './variables';

.latest-projects {
    @include mixins.scroll_effect;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
}

.project__card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 12px 24px rgba(227, 222, 222, 0.292);
    cursor: pointer;
  }
}

