$primary-color: #3498db;
$font-stack: 'Lato', sans-serif;
$color: white;
$font-weight: bold;
$font-size: 15px;
$line-height: 1.5;
$margin: 10px 0;
$nav-margin: 0 15px;
$nav-padding: 10px 15px;
$nav-bg-color: #070F1C;
$nav-text-color: #F9FAFB;
$footer-text-color:#AAB8C2;
$footer-color: #1C1C1E;
$breakpoint: 600px;
$bg-dark: #0a192f;