html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: #F9FAFB;
    background-attachment: fixed;
    background-position: center;
     
}
